/* ROOT */

:root {
    --pcolor: #202020;
    --scolor: rgb(48, 48, 48);
    --tcolor: rgb(173, 173, 173);
    
    --scolorhover: rgb(56, 56, 56);
}


/* FONTS */

@font-face {
    font-family: 'RobotoThin';
    src: url('fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Medium.ttf');
}

/* ELEMENTS */

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(173, 173, 173);
    font-family: 'Roboto';
    margin: 10px;
    background-color: var(--pcolor);
}

pre {
    color: var(---tcolor);
    font-family: 'Roboto';
}

h1 {
    font-family: 'RobotoThin';
    color: var(---tcolor);
}

h1::selection {
    color: black;
    background: white;
}

a {
    font-family: 'Roboto';
    text-decoration: none;
    color: var(---tcolor);
    margin-left:95px;
}

.link {
    margin-left: 0px;
}

.link:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* CLASSES */

.searcharea {
    top: 50%;
    bottom: 50%;
}

.input { 
    width: 400px; 
    height: 40px; 
    border: 1px solid rgb(48, 48, 48); 
    padding: 5px;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    color: rgb(173, 173, 173);
    background-color: rgb(48, 48, 48);
}

.input:hover {
    background-color: rgb(56, 56, 56);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(56, 56, 56);
}

input::selection {
    color: black;
    background: white;
}

.input:focus {
    outline: none;
    background-color: rgb(56, 56, 56);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(56, 56, 56);
}

.title {
    font-size: 50px;
    color: gray;
}

.mainbutton {
    background-color: rgb(48, 48, 48);
    border: none;
    cursor: pointer;
    color: gray;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.mainbutton:hover {
    background-color: rgb(56, 56, 56);
    transition: all 0.2s ease-in-out;

}

.mainbutton:focus {
    outline: none;
}

.spacer-50 {
    margin-bottom: 10%;
}

.setting-nav {
    font-family: 'Roboto';
    top: 10;
     right: 10%;
    position: fixed;
     background-color: transparent; 
     border: none; font-size: 16px; 
     color: gray;
     transition: all 0.2s ease-in-out;
     outline: none;
}

.setting-nav:hover {
    color: var(--scolorhover);
    transition: all 0.2s ease-in-out;
}

.linkTxt {
    font-size: 11px;
    margin-left:95px;
    color: rgb(104, 104, 104);
}

.searchinput {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.searchbtn {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}